h1 {
    color: black;
    text-align: center;
}

h2 {
    text-align: left;
    font-size: 3em;
}

.info {
    text-align: center;
}

.logo {
    width: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.up {
    color: green;
    text-align: center;
}

.down {
    color: red;
    text-align: center;
}

.btn-center {
    text-align: center;
}