/* JUMBOTRON */

h2 {
    text-align: center;
    font-size: 5em;
}

.info {
    text-align: center;
}

/* MEDIA COMPONENTS */

h3 {
    font-size: 2.3em;
}

.up {
    color: green;
    text-align: center;
}

.down {
    color: red;
    text-align: center;
}